<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ page.title }}</title>

  <meta name="description"
    content="Jonathan Ronen - Machine learning researcher; data scientist; software developer." />
  <meta name="keywords" content="machine learning,data science,freelance,freelancer" />
  <meta property="og:title" content="Jonathan Ronen" />
  <meta property="og:url" content="https://jonathanronen.com" />
  <meta property="og:description"
    content="A personal website" />
  <meta property="og:type" content="website" />

  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/fonts/font-awesome.min.css">
</head>

<body id="top">
  {{ content }}

  <hr/>
  <div class="footer">
    &copy; Jonathan Ronen, 2020 | <a href="https://latex.now.sh/"><span class="latex">L<span>a</span>T<span>e</span>X</span>.css</a> by Vincent Dörig
  </div>

</body>

</html>
